snippet irule
${1:rule_name} -> ${2:pattern} {%
	function(d, position, reject) {
		$0
	}
%}
endsnippet

snippet crule
${1:rule_name} ->
		${2:rule_name} {% ${3:id} %}
	$0
endsnippet

snippet orule
| ${1:rule_name} {% ${2:id} %}
endsnippet
